.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 4px #242424 solid;
  align-content: center;
  margin: 0 auto;
  background-color: #f3f3f3;
}

.card-header {
  height: 30%;
  background-color: #9466ff;
  color: #f3f3f3;
  text-align: center;
}

.card-header p {
  font-size: 20px;
}

.container {
  margin-top: 20px;
}